engine-strict=true
strict-peer-dependencies=true
auto-install-peers=true
@acl-services:registry=https://npm.pkg.github.com/
@diligentcorp:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GH_PACKAGES_TOKEN}

